.carousel {
  width: 980px;
  height: 560px;
  margin: 0 auto;
}

.carousel-control-next-icon {
  background-image: url("../../img/arrowNext.svg");
  width: 100%;
  height: 40px;
}

.carousel-control-next {
  right: -160px;
}

.carousel-control-prev-icon {
  background-image: url("../../img/arrowPrev.svg");
  width: 100%;
  height: 40px;
}

.carousel-control-prev {
  left: -160px;
}

.Slide2 {
  color: #ffffff;
  font-size: 50px;
  display: flex;
  margin: auto;
}
